      <% if journal.costs.present? %>
        <% journal.costs.each do |cost| %>
          <tr>
            <td><%=journal.start_at.try(:strftime, "%Y-%m-%d") %></td>
            <td>
              <% if cost.unit == "dai" %>
                交通費
              <% else %>
                <%=journal.content %>
              <% end %>
            </td>
            <td><%= t(cost.unit) %></td>
            <td><%= number_to_currency cost.unit_price, :precision => 0, :unit => "円" %></td>
            <td><%= cost.count %></td>
            <td><%= number_to_currency (cost.count || 0) * (cost.unit_price || 0), :precision => 0, :unit => "円" %></td>
            <% case state %>
            <% when "show" then %>
              <td><%= link_to '詳細', journal, class: "btn btn-primary btn-xs" %></td>
            <% when "edit" then %>
              <td><%= check_box_tag 'belong_journal_ids[]', journal.id, 1 %></td>
            <% else %>
              <td><%= check_box_tag 'alone_journal_ids[]', journal.id %></td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td><%=journal.start_at.try(:strftime, "%Y-%m-%d") %></td>
          <td><%=journal.content %></td>
          <td colspan="5">日誌ページで請求を追加してください。&nbsp;<%= link_to "追加", new_journal_cost_path(journal), class: "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
