<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Ask on</th>
      <th>Deadline</th>
      <th>Custom</th>
      <th>Memo</th>
      <th>Summary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.ask_on %></td>
        <td><%= invoice.deadline %></td>
        <td><%= invoice.custom_id %></td>
        <td><%= invoice.memo %></td>
        <td><%= invoice.summary %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
