<h2>請求書&nbsp;
  <% if params[:ongoing] == "true" %>
    <%= link_to '請求中・予定', invoices_path(ongoing: true), class: "btn btn-primary disabled", id: "invoices_ongoing" %>
    <%= link_to 'すべて', invoices_path, class: "btn btn-default", id: "invoices_all" %>
  <% else %>
    <%= link_to '請求中・予定', invoices_path(ongoing: true), class: "btn btn-default", id: "invoices_ongoing" %>
    <%= link_to 'すべて', invoices_path, class: "btn btn-primary disabled", id: "invoices_all" %>
  <% end %>
</h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>番号</th>
      <th>取引先</th>
      <th>請求日</th>
      <th>期限</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= sprintf "%05d", invoice.id %></td>
        <td><%= invoice.custom.try(:name) %></td>
        <td><%= invoice.ask_on %></td>
        <td><%= invoice.deadline %></td>
        <td><%= link_to '詳細', invoice, class: "btn btn-primary btn-sm" %></td>
        <td>
          <% if download_ok?(invoice) %>
            <%= link_to 'ダウンロード', invoice_export_pdf_path(invoice, format: :pdf), class: "btn btn-danger btn-sm" %>
          <% else %>
            詳細で請求項目を追加してください。
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_invoice_path, class: "btn btn-danger btn-sm" %>
