<div id="invoice_edit_title" style="display:none">
  <h3 class="text-danger"><em>請求書編集中</em></h3>
</div>
<h3>
  請求書詳細
  &nbsp;&nbsp;
  <%= link_to '編集', edit_invoice_path(@invoice), class: "btn btn-danger btn-sm" %>
  &nbsp;&nbsp;
  <% if download_ok?(@invoice) %>
    <%= link_to 'ダウンロード', invoice_export_pdf_path(@invoice, format: :pdf), class: "btn btn-danger btn-sm pull-right" %>
  <% end %>
</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= @invoice.custom.try(:name) %>様宛&nbsp;&nbsp;<%= @invoice.ask_on %>請求分</strong>
    <% if @invoice.payment != true %>
      <%= link_to invoice_path(@invoice), method: :delete, data: { confirm: '関連した日誌もすべて削除しますが、よろしいですか？' }, class: "pull-right" do %><span class="glyphicon glyphicon-remove text-danger"></span><% end %>
    <% end %>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>番号</th>
      <td><%= sprintf "%05d", @invoice.id %></td>
    </tr>
    <tr>
      <th>取引先</th>
      <td><%= @invoice.custom.try(:name) %></td>
    </tr>
    <tr>
      <th>請求日</th>
      <td><%= @invoice.ask_on %></td>
    </tr>
    <tr>
      <th>支払期限</th>
      <td><%= @invoice.deadline %></td>
    </tr>
    <tr>
      <th>合計額</th>
      <td><%= number_to_currency @invoice.summary, :precision => 0, :unit => "円" %></td>
    </tr>
    <tr>
      <th>支払済</th>
      <td>
        <% if @invoice.payment == true %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>キャンセル</th>
      <td><%= @invoice.cancel %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= @invoice.memo %></td>
    </tr>
  </table>
</div>

<div id="journal_view_area">
  <table class="table table-bordered bottom-no-margin">
    <tr class="active">
      <th>日付</th>
      <th>内容</th>
      <th>単位</th>
      <th>単価</th>
      <th>数量</th>
      <th>金額</th>
      <th>&nbsp;</th>
    </tr>
    <% @journals.each do |journal| %>
      <%= render 'journal_cost_table', journal: journal, state: "show" %>
    <% end %>
  </table>
</div>

<div id="journal_add_area" style="display:none">

<%= form_for(@invoice, method: :put, url: update_journals_invoices_path(@invoice)) do |f| %>
  <table class="table table-bordered bottom-no-margin">
    <tr class="active">
      <th>日付</th>
      <th>内容</th>
      <th>単位</th>
      <th>単価</th>
      <th>数量</th>
      <th>金額</th>
      <th>要請求</th>
    </tr>
    <% @journals.each do |journal| %>
      <%= render 'journal_cost_table', journal: journal, state: "edit" %>
    <% end %>

    <% @alone_journals.each do |journal| %>
      <%= render 'journal_cost_table', journal: journal, state: "add" %>
    <% end %>
  </table>

</div>

<% if @invoice.payment != true && download_ok?(@invoice) %>
  <%= link_to '請求内容編集', "javascript:void(0)", class: "btn btn-danger btn-sm pull-right", id: "open_journal_add_area" %>
<% end %>

<div id="close_journal_add_area" style="display:none" class="pull-right">
<%= link_to 'キャンセル', "javascript:void(0)" %>&nbsp;or&nbsp;
<%= f.submit '更新', class: "btn btn-primary btn-sm" %>
</div>
<% end %>

<div>&nbsp;</div>
