<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
  <div class="form-group col-md-6">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :branch %><br>
    <%= f.text_field :branch, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :type %><br>
    <%= f.select :type, Bank::TYPE.map{|b| [t(b), b]} ,class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :number %><br>
    <%= f.number_field :number, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
  </div>
<% end %>
