<h3>銀行情報<%= link_to '新規追加', new_bank_path, class: "btn btn-danger btn-sm pull-right" %></h3>

<% @banks.each do |bank| %>

  <div class="panel panel-default bottom-no-margin">
    <div class="panel-heading"><strong><%= bank.name %></strong></div>
    <table class="table table-bordered">
      <tr>
        <td class="col-md-4">支店名</td>
        <td><%= bank.branch %></td>
      </tr>
      <tr>
        <td>種類</td>
        <td><%= t(bank.type) %></td>
      </tr>
      <tr>
        <td>口座番号</td>
        <td><%= bank.number %></td>
      </tr>
    </table>
  </div>
  <%= link_to '編集', edit_bank_path(bank), class: "btn btn-danger btn-sm" %>

  <div>&nbsp;</div>

<% end %>
