<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @bank.branch %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bank.type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bank.number %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
