<h3>日誌詳細</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= @journal.start_at.try(:strftime, "%Y-%m-%d") %></strong>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>始業時刻</th>
      <td><%= @journal.start_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th>終業時刻</th>
      <td><%= @journal.finish_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= @journal.content %></td>
    </tr>
    <tr>
      <th>場所</th>
      <td><%= @journal.city %></td>
    </tr>
    <tr>
      <th>取引先</th>
      <td><%= @journal.customer.try(:name) %></td>
    </tr>
    <tr>
      <th>作業完了</th>
      <td>
        <% if @journal.complete == true %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>請求書</th>
      <td><%= @journal.invoice_id %></td>
    </tr>
    <tr>
      <th>実施者</th>
      <td><%= @journal.user.try(:name) %></td>
    </tr>
  </table>
</div>


<table class="table table-bordered">
  <tr class="active">
    <th>単位</th>
    <th>単価</th>
    <th>数量</th>
    <th>金額</th>
    <th>&nbsp;</th>
  </tr>
  <% @costs.each do |cost| %>
    <% next if (cost.id == nil || cost.id.to_s == params[:id]) %>
  <tr>
    <td><%= t(cost.unit) %></td>
    <td><%= number_to_currency cost.unit_price, :precision => 0, :unit => "円" %></td>
    <td><%= cost.count %></td>
    <td><%= number_to_currency (cost.count || 0) * (cost.unit_price || 0), :precision => 0, :unit => "円" %></td>
    <td>&nbsp;</td>
  </tr>
  <% end %>
</table>

<%= form_for([@journal, @cost]) do |f| %>
  <% if @cost.errors.any? %>
    <div class="alert alert-danger">
      <h4><em>足りないところがあるようです・・・。</em></h4>

      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well well-sm">
  <div class="form-group col-md-3">
    <%= f.label :unit %><br>
    <%= f.select :unit, Cost::UNIT_TYPE.map{|c| [t(c), c]}, class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= f.label :unit_price %><br>
    <%= f.number_field :unit_price, class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= f.label :count %><br>
    <%= f.number_field :count, class: "form-control" %>
  </div>
  <div class="form-group">
    &nbsp;<br>
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
  </div>
<% end %>
