<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @cost.count %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @cost.unit %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @cost.unit_price %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @cost.journal_id %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
