<h3>取引先情報<%= link_to '新規追加', new_customer_path, class: "btn btn-danger btn-sm pull-right" %></h3>

<% @customers.each do |company_id, customers| %>

  <blockquote><%= customers.first.company.try(:name) %></blockquote>

  <% customers.each do |customer| %>

    <div class="panel panel-default bottom-no-margin">
      <div class="panel-heading">
        <strong><%= customer.name %></strong>
        &nbsp;&nbsp;
        <%= link_to '編集', edit_customer_path(customer), class: "btn btn-danger btn-xs" %>
      </div>
      <table class="table table-bordered">
        <tr>
          <td class="col-md-4">郵便番号</td>
          <td><%= customer.zip %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= customer.address %></td>
        </tr>
        <tr>
          <td>TEL</td>
          <td><%= customer.tel %></td>
        </tr>
        <tr>
          <td>FAX</td>
          <td><%= customer.fax %></td>
        </tr>
        <tr>
          <td>代表者名</td>
          <td><%= customer.president %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= customer.email %></td>
        </tr>
      </table>
    </div>

    <div>&nbsp;</div>
  <% end %>

<% end %>
