<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div class="alert alert-danger">
      <h4><em>足りないところがあるようです・・・。</em></h4>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <div class="form-group col-md-12">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :zip %><br>
      <%= f.text_field :zip, class: "form-control" %>
    </div>
    <div class="form-group col-md-10">
      <%= f.label :address %><br>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :tel %><br>
      <%= f.text_field :tel, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :fax %><br>
      <%= f.text_field :fax, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :close_day %><br>
      <%= f.text_field :close_day, class: "form-control" %>日
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>
