<h3>自社情報<%= link_to '新規追加', new_company_path, class: "btn btn-danger btn-sm pull-right" %></h3>

<% @companies.each do |company| %>

  <div class="panel panel-default bottom-no-margin">
    <div class="panel-heading">
      <strong><%= company.name %></strong>
      &nbsp;&nbsp;
      <%= link_to '編集', edit_company_path(company), class: "btn btn-danger btn-xs" %>
    </div>
    <table class="table table-bordered">
      <tr>
        <td>郵便番号</td>
        <td><%= company.zip %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= company.address %></td>
      </tr>
      <tr>
        <td>TEL</td>
        <td><%= company.tel %></td>
      </tr>
      <tr>
        <td>FAX</td>
        <td><%= company.fax %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= company.email %></td>
      </tr>
      <tr>
        <td>締め日</td>
        <td><%= company.close_day %>日</td>
      </tr>
    </table>
  </div>

  <br />
<% end %>
