<%= form_for(@journal) do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <th><%= f.label :work_on %></th>
      <td><%= f.text_field :work_on, class: "pick_datetime_15" %></td>
    </tr>
    <tr>
      <th><%= f.label :content %></th>
      <td><%= f.text_field :content, class: "col-md-7" %></td>
    </tr>
    <tr>
      <th><%= f.label :city %></th>
      <td><%= f.text_field :city %></td>
    </tr>
    <tr>
      <th><%= f.label :custom_id %></th>
      <td><%= f.number_field :custom_id %></td>
    </tr>
    <tr>
      <th><%= f.label :travel_expenses %></th>
      <td><%= f.check_box :travel_expenses %></td>
    </tr>
    <tr>
      <th><%= f.label :complete %></th>
      <td><%= f.check_box :complete %></td>
    </tr>
    <tr>
      <th><%= f.label :invoice_id %></th>
      <td><%= f.number_field :invoice_id %></td>
    </tr>
    <tr>
      <th><%= f.label :user_id %></th>
      <td><%= f.number_field :user_id %></td>
    </tr>
    <tr>
      <th><%= f.submit %></th>
      <td>&nbsp;</td>
    </tr>
  </table>
<% end %>
