<h2>日誌 <%= today.strftime("%Y年%m月") %></h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>場所</th>
      <th>取引先</th>
      <th>内容</th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.work_on %></td>
        <td><%= journal.city %></td>
        <td><%= journal.custom_id %></td>
        <td><%= journal.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
