<h2>
  <%= link_to '前月', monthly_journals_path(prev_month.year, prev_month.month), class: "btn btn-default btn-xs" %>&nbsp;<%= params[:year] || Date.today.year %>年<%= params[:month]  || Date.today.month %>月&nbsp;<%= link_to '次月', monthly_journals_path(next_month.year, next_month.month), class: "btn btn-default btn-xs" %>
</h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>日時</th>
      <th>場所</th>
      <th>取引先</th>
      <th>内容</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.start_at.try(:strftime, "%Y-%m-%d %H:%M") %>〜</td>
        <td><%= journal.city %></td>
        <td><%= journal.custom.try(:name) %></td>
        <td><%= journal.content %></td>
        <td><%= link_to '詳細', journal, class: "btn btn-primary btn-sm" %></td>
        <td>
          <% if edit_ok(journal) %>
            <%= link_to '編集', edit_journal_path(journal), class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
