<h3>日誌詳細</h3>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= @journal.start_at.try(:strftime, "%Y-%m-%d") %></strong>
    &nbsp;&nbsp;
    <% unless edit_ok? %>
      <%= link_to '編集', edit_journal_path(@journal), class: "btn btn-danger btn-sm" %>
    <% end %>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>始業時刻</th>
      <td><%= @journal.start_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th>終業時刻</th>
      <td><%= @journal.finish_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= @journal.content %></td>
    </tr>
    <tr>
      <th>場所</th>
      <td><%= @journal.city %></td>
    </tr>
    <tr>
      <th>取引先</th>
      <td><%= @journal.custom.try(:name) %></td>
    </tr>
    <tr>
      <th>作業完了</th>
      <td>
        <% if @journal.complete == true %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>請求書</th>
      <td>
        <% if @journal.invoice_id.present? %>
          請求日&nbsp;<%= @journal.invoice.ask_on.try(:strftime, "%Y-%m-%d") %>
        <% else %>
          保留中
        <% end %>
      </td>
    </tr>
    <tr>
      <th>実施者</th>
      <td><%= @journal.user.try(:name) %></td>
    </tr>
  </table>
</div>

<table class="table table-bordered bottom-no-margin">
  <tr class="active">
    <th>単位</th>
    <th>単価</th>
    <th>数量</th>
    <th>金額</th>
    <% unless edit_ok? %>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    <% end %>
  </tr>
  <% @costs.each do |cost| %>
  <tr>
    <td><%= t(cost.unit) %></td>
    <td><%= number_to_currency cost.unit_price, :precision => 0, :unit => "円" %></td>
    <td><%= cost.count %></td>
    <td><%= number_to_currency (cost.count || 0) * (cost.unit_price || 0), :precision => 0, :unit => "円" %></td>
    <% unless edit_ok? %>
      <td><%= link_to journal_cost_path(@journal, cost), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove text-danger"></span><% end %></td>
      <td><%= link_to '編集', edit_journal_cost_path(@journal, cost), class: "btn btn-danger btn-xs" %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<% unless edit_ok? %>
  <%= link_to '項目追加', new_journal_cost_path(@journal), class: "btn btn-danger btn-sm pull-right" %>
<% end %>

<div>&nbsp;</div>
